
.titleProjects {
  height: 10%;
  display: flex;
  justify-content: center;
  color: #00ffff;
}
.container_Projects {
  height: max-content;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  box-shadow: 3px 3px 3px 3px #8400ff70;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 3px 3px 3px 3px #00ffff;
}

